@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+JP&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');
@import url('variables.css');

* {
    margin: 0;
    padding: 0;  
}

h1, h2, h3, h4, p, .text {
    font-family: "IBM Plex Sans JP", sans-serif;
    color: aliceblue;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--background);
}

header {
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

header img {
    width: 100%;
    height: auto;
}

.pufferfish {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8%;
    width: 3.5%;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
    padding: 10vh 0;
    gap: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer div {
    display: flex;
    gap: 8px;
    opacity: 70%;
}

nav {
    display: flex;
    gap: 1vw;
}

nav>a {
    text-decoration: underline;
    color: var(--white) !important;
    opacity: 70%;
}