body {
    font-family: Arial;
    background-image: url(Assets/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;   padding: 0;
    color: white;
}

main {
    border-radius: 30px;
    background-color: rgb(26, 26, 26);
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 850px;
}

.intro {
    text-align: center;
}

.minha-foto {
    width: 250px;
    border-radius: 300px;
    border-width: 5px;
    border-color: yellow;
    border-style: double;
}

.significado {
    background-color: rgb(62, 62, 62);
    border-radius: 10px;
    padding: 10px;
}

footer {
    background-color: black;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.strawp {
    width: 30px;
    border-radius: 2px;
}