@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*{ 
    padding: 0;
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
    --verde-agua: rgb(0, 173, 181);
    --preto: rgb(34, 40, 49);
    --cinza: rgb(57, 62, 70);
    --branco: rgb(238, 238, 238);
    --branco-hover: rgb(255, 255, 255);
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: var(--cinza);
    color: var(--branco);
}

header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
    align-items: center;
    border: 0;
    border-bottom: 1px;
    border-color: var(--branco);
    border-style: solid;
    background: linear-gradient(45deg, var(--verde-agua), rgb(0, 83, 91));
    z-index: 2;
}

header nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

header nav ul li{
    margin-left: 40px;
}

main{
    margin-top: 50px;
    padding-top: 60px;
}

h1{
    font-size: 50px;
}

.titulo{
    position: relative;
}

.titulo::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--branco);
    width: 100%;
    left: 0;
    bottom: -16px;
}

.nav-bar{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    color: var(--branco);
}

.nav-bar::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--branco);
    width: 0;
    left: 0;
    bottom: -16px;
    transition: 0.3s;
}

.nav-bar:hover{
    color: var(--branco);
}

.nav-bar:hover:after{
    width: 100%;
}

#cinema a{
    border-radius: 15px;
    border: 2px;
    color: var(--branco);
    border-color: var(--branco);
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    padding: 5px 25px;
    text-decoration: none;
}

#cinema a:hover{
    color: var(--verde-agua);
    background-color: var(--branco);
}

#eu{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 13% 87% 25% 75% / 62% 30% 70% 38%;
    background-image: url(./imgs/formatura.jpg);
    background-size: cover;
}

#eu::before{
    content: "";
    background: linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000);
    position: absolute;
    top: -3px;
    left: -3px;
    background-size: 600%;
    z-index: -1;
    border-radius: 13% 87% 25% 75% / 62% 30% 70% 38%;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

@keyframes glowing{
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

#container{
    border-radius: 100% 0% 60% 40% / 27% 81% 19% 73% ;
    width: 600px;
    height: 650px;
    z-index: -2;
    position: absolute;
    background-color: var(--preto);
}

.section{
    padding: 40px 100px;
}

#hero-section{
    padding: 0 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-section p{
    margin-top: 20px;
    width: 700px;
    font-size: 25px;
    font-family: sans-serif;
}

#minha_familia{
    text-align: center;
    margin-top: 90px;
    background-color: var(--verde-agua);
}

#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 600px;
    gap: 15px;
}

.img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
}

.img:hover{
    scale: 1.05;
}

#family_picture{
    grid-column: 1;
}

#millie{
    grid-column: 1;
    grid-row: 2;
}

#maximus{
    grid-column: 2;
    grid-row: 1/3;
}

#fami{
    margin-top: 40px;
    display: flex;
    font-size: 30px;
    align-items: center;
}

#fami div{
    text-align: justify;
    padding: 0 20px;
    width: 50%;
}